extends layout
block layout-content
    div.disp_flag
        h1.congtext="Welcome Guest!!!"
        p.
            If only you were admin, you could grab the 
        a(href='/admin/getFlag') flag


