extends layout
block layout-content
    div.disp_flag
        h1.congtext="Welcome To PhotoView!!!"
        p.
            You can view all sorts of specially currated photos but you CANNOT upload photos -- that is for our admin only.      
        div#pv_img
            img(src=imgval, width="500", height="500")


